@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: $main-color;
}

h2 {
    font-size: 24px;
    line-height: 29px;
}

h3 {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}

.container {
    max-width: 1080px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $main-color;
    margin-right: 10px;
    padding: 16px 0;
    border-radius: 4px;
    position: relative;
    max-width: 200px;
    background-clip: padding-box;
    border: solid 2px transparent; 
    background-color: $white;
    box-sizing: border-box;
    flex-grow: 1;

    &::before {
        content: '';
        margin-right: 10px;
        max-width: 20px;
        width: 100%;
        height: 18px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: -2px;
        border-radius: 4px;
        z-index: -1;
    }
}
