@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('../fonts/GTWalsheimPro-Medium.eot') format('eot'),
    url('../fonts/GTWalsheimPro-Medium.ttf') format('ttf'),
    url('../fonts/GTWalsheimPro-Medium.woff') format('woff'),
    url('../fonts/GTWalsheimPro-Medium.woff2') format('woff2');
    font-weight: 500;
}