.experience {
    padding: 124px 0 88px;
    background-color: var(--main-background-color);

    &__title {
        margin-bottom: 33px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__jobs {
        position: relative;
        max-width: 193px;
        width: 100%;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: var(--experience-job-active);
            width: 2px;
        }
    }

    &__job {

        &-title {
            padding: 18px 0 15px 36px;
            text-transform: none;
            cursor: pointer;
            

            &_active {
                position: relative;
                background-color: var(--experience-job-active);
                color: $white;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    background-color: var(--experience-job-active-before);
                    width: 2px;
                }
            }

        }

        &-period {
            color: var(--description-text);
        }

        &-position {
            margin-bottom: 26px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-company {
            display: inline-block;
            margin-bottom: 26px;
            color: var(--blue-text);
            font-size: 14px;
        }

        &-responsibilities {
            list-style-type: square;
            color: var(--description-text);

            li:not(:last-child) {
                margin-bottom: 26px;
            }
        }

    }



}