.header {
    height: 100vh;
    background-color: var(--header-background-color);

    .container {
        height: 100%;
    }

    &__top {
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        font-size: 24px;
        line-height: 29px;
    }

    &__nav {
        max-width: 319px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        nav {
            margin-right: 30px;
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            a {
                position: relative;
                font-size: 18px;
                line-height: 22px;
                color: var(--main-color);
                text-decoration: none;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -5px;
                    display: block;
                    border-bottom: 1px solid;
                    opacity: 0;
                    transition: opacity 0.35s, transform 0.35s;
                    transform: scale(0,1);
                }
                
                &:hover:after {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    &__theme-button {
        padding: 0;
        background-color: transparent;
        border: none;
        outline: none;
        width: 22px;
        height: 22px;
        cursor: pointer;
        
        &:focus {
            outline: none;
        }
    }

    &__wrapper {
        padding-bottom: 92px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }

    &__sub-text {
        margin-bottom: 11px;
        line-height: 19px;
    }

    &__title {
        margin-bottom: 26px;
        font-family: 'GT Walsheim Pro';
        font-size: 96px;
        line-height: 110px;
        background: linear-gradient(89.81deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__descr {
        font-size: 18px;
    }

    &__link {

        &_linkedin {

            &::before {
                background-image: linear-gradient(0.25turn, #6964DE, #FCA6E9);
            }
        }

        &_github {

            &::before {
                background-image: linear-gradient(0.25turn, #D24074,#6518B4);
            }
        }
    }
}