.header {
    height: 100vh;

    .container {
        height: 100%;
    }

    &__top {
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        font-size: 24px;
        line-height: 29px;
    }

    &__nav {
        max-width: 319px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        nav {
            margin-right: 30px;
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            a {
                font-size: 18px;
                line-height: 22px;
                color: $main-text-color;
                text-decoration: none;
            }
        }
    }

    &__theme-button {
        background-image: url('../images/sunfill.svg');
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        width: 22px;
        height: 22px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__sub-text {
        margin-bottom: 11px;
        line-height: 19px;
    }

    &__title {
        margin-bottom: 26px;
        font-family: 'GT Walsheim Pro';
        font-size: 96px;
        line-height: 110px;
        background: linear-gradient(89.81deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__descr {
        font-size: 18px;
    }

    &__links {
        display: flex;
        align-items: baseline;
    }

    &__link {
       
        &_email {
            &::before {
                background-image: url('../images/email.svg');

            }

            &::after {
                background-image: linear-gradient(0%, #9358F7, 6.67%, #9259F7, 13.33%, #8E5DF6, 20%, #8862F5,
                    26.67%, #806BF4, 33.33%, #7575F2, 40%, #6882F0, 46.67%, #5990EE, 53.33%, #4A9FEB,
                    60%, #3BADE9, 66.67%, #2EBAE7, 73.33%, #23C4E5, 80%, #1BCDE4, 86.67%, #15D2E3,
                    93.33%, #11D6E2, 100%, #10D7E2);
            }
        }

        &_linkedin {
            &::before {
                background-image: url('../images/linkedin.svg');

            }

            &::after {
                background-image: linear-gradient(0.25turn, #6964DE, #FCA6E9);
            }
        }

        &_github {
            &::before {
                background-image: url('../images/github.svg');

            }

            &::after {
                background-image: linear-gradient(0.25turn, #D24074,#6518B4);
            }
        }
    }
}